{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" ,initial-scale=1>
</head>
<title>{% block title %}{% endblock title %}自动化运维管理后台</title>
{% bootstrap_css %}
{% bootstrap_javascript %}
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'ops:index' %}">自动化运维后台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'cmdb:index' %}">CMDB</a></li>
                <li class="active"><a href="{% url 'deploy:deploy' %}">部署中心</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--如果用户完成登录,此方法是django自带的认证类方法 -->
                {% if user.is_authenticated %}
                    <li><a>Hello,{{ user.username }}.</a></li>
                    <li class="active"><a href="{% url 'users:logout' %}">注销</a></li>
                {% else %}
                    <li class="active"><a href="{% url 'users:register' %}">注册</a></li>
                    <li class="active"><a href="{% url 'users:login' %}">登录</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <!-- Single button -->
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="{% url 'cmdb:company' %}">公司管理</a></li>
                <li role="presentation"><a href="{% url 'cmdb:server' %}">服务器管理</a></li>
                <li role="presentation"><a href="#">发布系统</a></li>
            </ul>
        </div>
        <div class="text-left">
            <a class="btn btn-success" href="{% url 'cmdb:new_company' %}">增加</a>
        </div>
        <div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="text-center">
                    <tr>
                        <th>公司名称</th>
                        <th>发布</th>
                        <th>回滚</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>服务器1</td>
                        <td><button type="button" class="deploy btn btn-primary btn-xs">发布</button></td>
                        <td><button type="button" class="rollback btn btn-primary btn-xs">回滚</button></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

    $(".deploy").click(function (){
{#        alert(csrftoken)#}
        $.ajax({
            url: '/deploy/',
            type: 'POST',
            beforeSend:function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken",csrftoken)
            },
            success: function (data) {
                var data=data;
                alert(data.message);
            }
    });
    });
</script>
</body>
</html>